*{
	padding:0;
	margin:0;
	outline:none;
	
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}


body{
	font-size: 15px;
	line-height: 1.5;
	font-family: Arial, Helvetica, sans-serif;
}

.title{
	font-weight:normal;
	font-size:20px;
}

.wrapper{
	width: 245px;
	padding:10px;
	margin:100px auto;
	color:#1E395B;
	border:1px solid #8797AA;
	background: #D9E4F1;
	
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	
	-webkit-box-shadow: 1px 1px 0 #86AFC0;
	   -moz-box-shadow: 1px 1px 0 #86AFC0;
	        box-shadow: 1px 1px 0 #86AFC0;
	
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
}

#tablo{
	font-family: Monospace;
	font-size:19px;
	text-align:right;
	width:100%;
	border:1px solid #8797AA;
	padding:10px 5px;
	
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

#tablo::-webkit-input-placeholder{color:#1E395B}
     #tablo:-ms-input-placeholder{color:#1E395B}
         #tablo::-moz-placeholder{color:#1E395B}
          #tablo:-moz-placeholder{color:#1E395B}

.section{
	width:100%;
	padding:5px;
}

.snap-row{
	white-space: nowrap;
}

.snap {
	display: inline-block;
	width:50px;
	height: 35px;
	font-family: Monospace;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	color: #1E395B;
	border: 1px solid #8797AA;
	background: #FFF;
	
	-webkit-transition: background .3s;
	   -moz-transition: background .3s;
	     -o-transition: background .3s;
	        transition: background .3s;
}

.snap:hover{
	background:#FFE367;
}

.snap:active{
	-webkit-box-shadow:inset 1px 1px 0 #8797AA;
	   -moz-box-shadow:inset 1px 1px 0 #8797AA;
	        box-shadow:inset 1px 1px 0 #8797AA;
}